.homeInput {
    width: 40%;
    min-width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000000;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    opacity: 0.90;
    display: flex; /* Enables Flexbox layout */
    align-items: center; /* Centers vertically in the container */
    justify-content: center; /* Centers horizontally in the container */
}

.background-video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.loginForm {
    position: center; /* Adjusted for centering within Flexbox */
    color: aliceblue;
    width: 100%; /* Adjust the width as needed */
    max-width: 360px; /* Keeps the form reasonably sized */
    height: auto; /* This allows the form to grow based on its content */
    min-height: 300px; /* Minimum height, adjust as necessary */
    padding: 20px; /* Adds space inside the form around the content */
    box-sizing: border-box; /* Ensures padding doesn't affect dimensions */
    display: flex; /* Use flexbox to arrange internal items */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
}


.loginForm-text {
    font-family: Arial, sans-serif;
    color: aliceblue;
}
