@font-face {
    font-family: 'AtlantaCollegeRegular';
    src: url('AtlantaCollegeRegular-1Gva2.ttf') format('truetype'); /* Path relative to the public directory */
    font-weight: normal;
    font-style: normal;
  }